Repository 3w36zj6/prefecture-population-visualizer: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#

pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "*.{js,ts,json,cjs,jsx,tsx,md,yml,yaml,toml,html,css}"
      run: bun prettier {staged_files} --write
      stage_fixed: true
      skip:
        - merge
        - rebase
    eslint:
      glob: "*.{ts,tsx}"
      run: bun eslint {staged_files} --fix
      stage_fixed: true
      skip:
        - merge
        - rebase

chore(deps): 依存関係にhappy-domを追加
  bun.lockb
  package.json
Due: prettier

chore: `bun:test`でhappy-domを使用するための設定を追加
  bunfig.toml
  src/helpers/happydom.ts
Due: prettier, eslint

test: `fetchResasAPI.ts`のテストを追加
  src/infrastructure/api/fetchResasAPI.test.ts
Due: prettier, eslint

fix: RESAS APIのfetch処理のエラーハンドリングを強化 (#24)
  bun.lockb
  bunfig.toml
  package.json
  src/helpers/happydom.ts
  src/infrastructure/api/fetchResasAPI.test.ts
  src/infrastructure/api/fetchResasAPI.ts
Due: prettier, eslint

chore(deps): 依存関係にprettier-plugin-tomlを追加
  bun.lockb
  package.json
Due: prettier

chore: prettier-plugin-tomlを有効化
  .prettierrc
Due: none

chore: prettier-plugin-tomlを追加 (#25)
  .prettierrc
  bun.lockb
  package.json
Due: prettier

refactor:ロジック関連のディレクトリ構造を変更
  src/App.tsx
  src/components/organisms/PopulationCategoryRadioButtonGroup.tsx
  src/components/organisms/PopulationChart.tsx
  src/components/organisms/PrefectureCheckBoxGroup.tsx
  src/core/application/PopulationUseCase.test.ts
  src/core/application/PopulationUseCase.ts
  src/core/application/PrefectureUseCase.test.ts
  src/core/application/PrefectureUseCase.ts
  src/core/domain/models/Population.ts
  src/core/domain/models/Prefecture.ts
  src/core/domain/repositories/PopulationRepository.ts
  src/core/domain/repositories/PrefectureRepository.ts
  src/core/infrastructure/api/fetchResasAPI.test.ts
  src/core/infrastructure/api/fetchResasAPI.ts
  src/core/infrastructure/repositories/PopulationRepositoryImpl.test.ts
  src/core/infrastructure/repositories/PopulationRepositoryImpl.ts
  src/core/infrastructure/repositories/PrefectureRepositoryImpl.test.ts
  src/core/infrastructure/repositories/PrefectureRepositoryImpl.ts
  src/core/interface/PopulationController.test.ts
  src/core/interface/PopulationController.ts
  src/core/interface/PrefectureController.test.ts
  src/core/interface/PrefectureController.ts
Due: prettier, eslint

refactor: ロジック関連のディレクトリ構造を変更 (#27)
  src/App.tsx
  src/components/organisms/PopulationCategoryRadioButtonGroup.tsx
  src/components/organisms/PopulationChart.tsx
  src/components/organisms/PrefectureCheckBoxGroup.tsx
  src/core/application/PopulationUseCase.test.ts
  src/core/application/PopulationUseCase.ts
  src/core/application/PrefectureUseCase.test.ts
  src/core/application/PrefectureUseCase.ts
  src/core/domain/models/Population.ts
  src/core/domain/models/Prefecture.ts
  src/core/domain/repositories/PopulationRepository.ts
  src/core/domain/repositories/PrefectureRepository.ts
  src/core/infrastructure/api/fetchResasAPI.test.ts
  src/core/infrastructure/api/fetchResasAPI.ts
  src/core/infrastructure/repositories/PopulationRepositoryImpl.test.ts
  src/core/infrastructure/repositories/PopulationRepositoryImpl.ts
  src/core/infrastructure/repositories/PrefectureRepositoryImpl.test.ts
  src/core/infrastructure/repositories/PrefectureRepositoryImpl.ts
  src/core/interface/PopulationController.test.ts
  src/core/interface/PopulationController.ts
  src/core/interface/PrefectureController.test.ts
  src/core/interface/PrefectureController.ts
Due: prettier, eslint

chore: Pull Requestのテンプレートを追加
  .github/pull_request_template.md
Due: prettier

chore: Pull Requestのテンプレートを追加 (#30)
  .github/pull_request_template.md
Due: prettier

chore(deps): 依存関係にStorybookを追加
  bun.lockb
  package.json
Due: prettier

chore: Storybookの初期化を実行
  .eslintrc.cjs
  .gitignore
  .storybook/main.ts
  .storybook/preview.ts
  src/stories/Button.stories.ts
  src/stories/Button.tsx
  src/stories/Configure.mdx
  src/stories/Header.stories.ts
  src/stories/Header.tsx
  src/stories/Page.stories.ts
  src/stories/Page.tsx
  src/stories/assets/accessibility.png
  src/stories/assets/accessibility.svg
  src/stories/assets/addon-library.png
  src/stories/assets/assets.png
  src/stories/assets/avif-test-image.avif
  src/stories/assets/context.png
  src/stories/assets/discord.svg
  src/stories/assets/docs.png
  src/stories/assets/figma-plugin.png
  src/stories/assets/github.svg
  src/stories/assets/share.png
  src/stories/assets/styling.png
  src/stories/assets/testing.png
  src/stories/assets/theming.png
  src/stories/assets/tutorials.svg
  src/stories/assets/youtube.svg
  src/stories/button.css
  src/stories/header.css
  src/stories/page.css
Due: prettier, eslint

chore: 不要なファイルを削除
  src/stories/Button.stories.ts
  src/stories/Button.tsx
  src/stories/Configure.mdx
  src/stories/Header.stories.ts
  src/stories/Header.tsx
  src/stories/Page.stories.ts
  src/stories/Page.tsx
  src/stories/assets/accessibility.png
  src/stories/assets/accessibility.svg
  src/stories/assets/addon-library.png
  src/stories/assets/assets.png
  src/stories/assets/avif-test-image.avif
  src/stories/assets/context.png
  src/stories/assets/discord.svg
  src/stories/assets/docs.png
  src/stories/assets/figma-plugin.png
  src/stories/assets/github.svg
  src/stories/assets/share.png
  src/stories/assets/styling.png
  src/stories/assets/testing.png
  src/stories/assets/theming.png
  src/stories/assets/tutorials.svg
  src/stories/assets/youtube.svg
  src/stories/button.css
  src/stories/header.css
  src/stories/page.css
Due: prettier, eslint

test: コンポーネントのStoryを追加
  src/stories/atoms/CheckBox.stories.ts
  src/stories/atoms/RadioButton.stories.ts
  src/stories/atoms/Title.stories.ts
  src/stories/molecules/CheckBoxGroup.stories.ts
  src/stories/molecules/RadioButtonGroup.stories.ts
  src/stories/oraganisms/PopulationCategoryRadioButtonGroup.stories.ts
  src/stories/oraganisms/PrefectureCheckBoxGroup.stories.ts
Due: prettier, eslint

chore(deps): 依存関係に@storybook/test-runnerを追加
  bun.lockb
  package.json
Due: prettier

chore(deps): 依存関係にplaywrightを追加
  bun.lockb
  package.json
Due: prettier

chore: Storybookのテストランナーを追加
  .storybook/test-runner.ts
  package.json
Due: prettier, eslint

ci: Storybookのテストを追加
  .github/workflows/ci.yaml
Due: prettier

test: Storybookのスナップショットを更新
  src/stories/atoms/__snapshots__/CheckBox.stories.ts.snap
  src/stories/atoms/__snapshots__/RadioButton.stories.ts.snap
  src/stories/atoms/__snapshots__/Title.stories.ts.snap
  src/stories/molecules/__snapshots__/CheckBoxGroup.stories.ts.snap
  src/stories/molecules/__snapshots__/RadioButtonGroup.stories.ts.snap
  src/stories/oraganisms/__snapshots__/PopulationCategoryRadioButtonGroup.stories.ts.snap
  src/stories/oraganisms/__snapshots__/PrefectureCheckBoxGroup.stories.ts.snap
Due: none

chore: `.gitignore`に`storybook-static/`を追加
  .gitignore
Due: none

chore: Storybookを導入 (#32)
  .eslintrc.cjs
  .github/workflows/ci.yaml
  .gitignore
  .storybook/main.ts
  .storybook/preview.ts
  .storybook/test-runner.ts
  bun.lockb
  package.json
  src/stories/atoms/CheckBox.stories.ts
  src/stories/atoms/RadioButton.stories.ts
  src/stories/atoms/Title.stories.ts
  src/stories/atoms/__snapshots__/CheckBox.stories.ts.snap
  src/stories/atoms/__snapshots__/RadioButton.stories.ts.snap
  src/stories/atoms/__snapshots__/Title.stories.ts.snap
  src/stories/molecules/CheckBoxGroup.stories.ts
  src/stories/molecules/RadioButtonGroup.stories.ts
  src/stories/molecules/__snapshots__/CheckBoxGroup.stories.ts.snap
  src/stories/molecules/__snapshots__/RadioButtonGroup.stories.ts.snap
  src/stories/oraganisms/PopulationCategoryRadioButtonGroup.stories.ts
  src/stories/oraganisms/PrefectureCheckBoxGroup.stories.ts
  src/stories/oraganisms/__snapshots__/PopulationCategoryRadioButtonGroup.stories.ts.snap
  src/stories/oraganisms/__snapshots__/PrefectureCheckBoxGroup.stories.ts.snap
Due: prettier, eslint

refactor: 都道府県データの取得とエラーハンドリングを親コンポーネントに移動
  src/App.tsx
  src/components/organisms/PrefectureCheckBoxGroup.tsx
Due: prettier, eslint

test: Storyを修正
  src/stories/oraganisms/PrefectureCheckBoxGroup.stories.ts
Due: prettier, eslint

test: Storybookのスナップショットを更新
  src/stories/oraganisms/__snapshots__/PrefectureCheckBoxGroup.stories.ts.snap
Due: none

refactor: 都道府県データの取得とエラーハンドリングを改善 (#33)
  src/App.tsx
  src/components/organisms/PrefectureCheckBoxGroup.tsx
  src/stories/oraganisms/PrefectureCheckBoxGroup.stories.ts
  src/stories/oraganisms/__snapshots__/PrefectureCheckBoxGroup.stories.ts.snap
Due: prettier, eslint

chore(deps): 依存関係にstyled-componentsを追加
  bun.lockb
  package.json
Due: prettier

chore(deps): 依存関係にstyled-resetを追加
  bun.lockb
  package.json
Due: prettier

feat: Google FontsのNoto Sans JPを追加
  src/index.css
Due: prettier

feat: タイトルのコンポーネントのデザインを実装
  src/components/atoms/Title.tsx
Due: prettier, eslint

feat: 都道府県のチェックボックスのコンポーネントのスタイルを実装
  src/components/organisms/PrefectureCheckBoxGroup.tsx
Due: prettier, eslint

feat: 人口カテゴリのラジオボタンのコンポーネントのスタイルを実装
  src/components/organisms/PopulationCategoryRadioButtonGroup.tsx
Due: prettier, eslint

fix: 人口グラフの`margin`を修正
  src/components/organisms/PopulationChart.tsx
Due: prettier, eslint

feat: エラーアラートのコンポーネントを追加
  src/components/atoms/ErrorAlert.tsx
Due: prettier, eslint

feat: Appコンポーネントのスタイルを実装
  src/App.css
  src/App.tsx
Due: prettier, eslint

test: ErrorAlertコンポーネントのStoryを追加
  src/stories/atoms/ErrorAlert.stories.ts
Due: prettier, eslint

fix: `fieldset`を含むコンポーネント内にResetコンポーネントを追加
  src/components/organisms/PopulationCategoryRadioButtonGroup.tsx
  src/components/organisms/PrefectureCheckBoxGroup.tsx
Due: prettier, eslint

test: Storybookのスナップショットを更新
  src/stories/atoms/__snapshots__/ErrorAlert.stories.ts.snap
  src/stories/atoms/__snapshots__/Title.stories.ts.snap
  src/stories/oraganisms/__snapshots__/PopulationCategoryRadioButtonGroup.stories.ts.snap
  src/stories/oraganisms/__snapshots__/PrefectureCheckBoxGroup.stories.ts.snap
Due: none

feat: サイトのデザインを実装 (#34)
  bun.lockb
  package.json
  src/App.css
  src/App.tsx
  src/components/atoms/ErrorAlert.tsx
  src/components/atoms/Title.tsx
  src/components/organisms/PopulationCategoryRadioButtonGroup.tsx
  src/components/organisms/PopulationChart.tsx
  src/components/organisms/PrefectureCheckBoxGroup.tsx
  src/index.css
  src/stories/atoms/ErrorAlert.stories.ts
  src/stories/atoms/__snapshots__/ErrorAlert.stories.ts.snap
  src/stories/atoms/__snapshots__/Title.stories.ts.snap
  src/stories/oraganisms/__snapshots__/PopulationCategoryRadioButtonGroup.stories.ts.snap
  src/stories/oraganisms/__snapshots__/PrefectureCheckBoxGroup.stories.ts.snap
Due: prettier, eslint

fix: 不要なファイルを削除
  src/assets/react.svg
Due: none
