Repository 3w36zj6/prefecture-population-visualizer: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

prettier:
  run: bun prettier {staged_files} --write
  stage_fixed: true
  skip:
  - merge
  - rebase

eslint:
  run: bun eslint {staged_files} --fix
  stage_fixed: true
  skip:
  - merge
  - rebase

fix: 不要な`src/assets/react.svg`を削除 (#35)
  src/assets/react.svg
Due: none

feat: RESAS APIへのGETリクエストのキャッシュを実装
  src/core/infrastructure/api/fetchResasAPI.ts
Due: prettier, eslint

feat: RESAS APIへのGETリクエストのキャッシュを実装 (#36)
  src/core/infrastructure/api/fetchResasAPI.ts
Due: prettier, eslint

test: ランダムな色を生成するHelperのテストを追加
  src/helpers/hslToRgb.test.ts
  src/helpers/rgbToHex.test.ts
  src/helpers/seededRandom.test.ts
  src/helpers/stringToRgbHex.test.ts
Due: prettier, eslint

test: ランダムな色を生成するHelperのテストを追加 (#39)
  src/helpers/hslToRgb.test.ts
  src/helpers/rgbToHex.test.ts
  src/helpers/seededRandom.test.ts
  src/helpers/stringToRgbHex.test.ts
Due: prettier, eslint

docs: LICENSEを追加
  LICENSE
Due: none

docs: LICENSEを追加 (#40)
  LICENSE
Due: none

docs: ARCHITECTUREを追加
  ARCHITECTURE.md
Due: prettier

docs: ARCHITECTUREを追加 (#41)
  ARCHITECTURE.md
Due: prettier

feat: `index.html`の`html`タグの`lang`属性を`ja`に変更
  index.html
Due: prettier

feat: `index.html`の`title`タグにアプリ名を設定
  index.html
Due: prettier

feat: `index.html`にOpen Graph Protocolのメタデータを追加
  index.html
Due: prettier

feat: `index.html`のメタデータを整備 (#43)
  index.html
Due: prettier

docs: READMEを整備
  README.md
Due: prettier

docs: READMEを整備 (#44)
  README.md
Due: prettier

chore(deps): 依存関係に@playwright/testを追加
  bun.lockb
  package.json
Due: prettier

chore: Playwrightの設定を追加
  playwright.config.ts
Due: prettier, eslint

chore: `package.json`にplaywrightのテストを実行するコマンドを追加
  package.json
Due: prettier

chore: `.gitignore`にPlaywrightに関係するファイルを追加
  .gitignore
Due: none

docs: READMEにPlaywrightの説明を追加
  README.md
Due: prettier

chore: `playwright install`の引数を修正
  README.md
Due: prettier

test: スナップショットを追加
  playwright/App.spec.ts-snapshots/グラフが表示された後に都道府県を変更する-1-Mobile-Chrome-linux.png
  playwright/App.spec.ts-snapshots/グラフが表示された後に都道府県を変更する-1-chromium-linux.png
  playwright/App.spec.ts-snapshots/ページを開く-1-Mobile-Chrome-linux.png
  playwright/App.spec.ts-snapshots/ページを開く-1-chromium-linux.png
  playwright/App.spec.ts-snapshots/都道府県と人口カテゴリを選択する-1-Mobile-Chrome-linux.png
  playwright/App.spec.ts-snapshots/都道府県と人口カテゴリを選択する-1-chromium-linux.png
  playwright/App.spec.ts-snapshots/都道府県を選択する-1-Mobile-Chrome-linux.png
  playwright/App.spec.ts-snapshots/都道府県を選択する-1-chromium-linux.png
Due: none

test: Playwrightによるテストを追加
  playwright/App.spec.ts
Due: prettier, eslint

chore: Bunのテストのディレクトリに`./src`を指定
  bunfig.toml
Due: prettier

docs: Playwrightのテストの補足を追加
  README.md
Due: prettier

chore: Playwrightによるテストを整備 (#46)
  .gitignore
  README.md
  bun.lockb
  bunfig.toml
  package.json
  playwright.config.ts
  playwright/App.spec.ts
  playwright/App.spec.ts-snapshots/グラフが表示された後に都道府県を変更する-1-Mobile-Chrome-linux.png
  playwright/App.spec.ts-snapshots/グラフが表示された後に都道府県を変更する-1-chromium-linux.png
  playwright/App.spec.ts-snapshots/ページを開く-1-Mobile-Chrome-linux.png
  playwright/App.spec.ts-snapshots/ページを開く-1-chromium-linux.png
  playwright/App.spec.ts-snapshots/都道府県と人口カテゴリを選択する-1-Mobile-Chrome-linux.png
  playwright/App.spec.ts-snapshots/都道府県と人口カテゴリを選択する-1-chromium-linux.png
  playwright/App.spec.ts-snapshots/都道府県を選択する-1-Mobile-Chrome-linux.png
  playwright/App.spec.ts-snapshots/都道府県を選択する-1-chromium-linux.png
Due: prettier, eslint

test: `fetchResasAPI`のテストで環境変数を参照しないように修正
  src/core/infrastructure/api/fetchResasAPI.test.ts
Due: prettier, eslint

test: `fetchResasAPI`のテストで環境変数を参照しないように修正 (#47)
  src/core/infrastructure/api/fetchResasAPI.test.ts
Due: prettier, eslint

docs: `README.md`のLefthookのセットアップのコマンドを修正
  README.md
Due: prettier

docs: READMEのLefthookのセットアップのコマンドを修正 (#48)
  README.md
Due: prettier

Path conditions:
  prettier: any of: *.{js,ts,json,cjs,jsx,tsx,md,yml,yaml,toml,html,css}
  eslint: any of: *.{ts,tsx}
